<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Makerspace Sign In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='returning.css')}}" />
</head>
<body>
  <h1>Thank you for visiting the Makerspace!</h1>
  <form action="{{ url_for('scans.scan_out', rfid.rfid) }}" method="POST">
    {% for m in machines %}
      <label>
        <input type="checkbox" name="machine_ids" value="{{ m.id }}" />
        {{ m.name }}
      </label><br>
    {% endfor %}
    <button type="submit">Submit</button>
  </form>
</body>
</html>
