<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Makerspace Sign In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='returning.css')}}" />
</head>
<body>
  <h1>Thank you for visiting the Makerspace!</h1>
  <form>
    <label>
      <input type="checkbox" name="machines" value="Soldering Station" />
      Soldering Station
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Vinyl Station" />
      Vinyl Station
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Laser Engravers" />
      Laser Engravers
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Paint Station" />
      Paint Station
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Woodworking" />
      Woodworking
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Glass/Jewelry Station" />
      Glass/Jewelry Station
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Print Your Own" />
      Print Your Own
    </label>
    <br />
    <label>
      <input type="checkbox" name="machines" value="Misc Tools" />
      Misc Tools
    </label>
  </form>
  <button type="submit">Submit</button>
</body>
</html>
